packages/core/vendor/canvaskit-webgpu/*.wasm filter=lfs diff=lfs merge=lfs -text

# Playwright visual regression test snapshot images
tests/**/*snapshots*/*.png filter=lfs diff=lfs merge=lfs -text
tests/**/*snapshots*/*.jpg filter=lfs diff=lfs merge=lfs -text
tests/**/*snapshots*/*.jpeg filter=lfs diff=lfs merge=lfs -text
tests/**/*snapshots*/*.webp filter=lfs diff=lfs merge=lfs -text
